<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="app">
      <h1 style="padding-bottom: 10px;">Aura Technology</h1>
      <h3 style="padding-bottom: 10px;">Obrigado por se registrar ;)</h3>
      <h2>Confirma seu email clicando no botão abaixo:</h2>
    </div>
  </body>
</html>
