<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="app">
      <h1>Olá, {{ name }}</h1>
      <br />
      <h2>Obrigado por se registrar ;)</h2>
      <br />
      <h4>Confirma seu email clicando no botão abaixo ou cole este link no seu navegador ({{ url_token }})</h4>

      <button href="{{ url_token }}">CONFIRMAR EMAIL</button>
    </div>
  </body>
</html>
